// MIXINS

// Center Mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin middler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Transition Mixin
@mixin transition-main{
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -o-transition: ease all .3s;
    -moz-transition: ease all .3s;
}

@mixin transition-full{
    transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -o-transition: ease all 1s;
    -moz-transition: ease all 1s;
}

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// VARIABLES

$font-head:"futura-pt",sans-serif;
$font-subhead:"futura-pt",sans-serif;
$font-body:"futura-pt",sans-serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;



// ABOUT STYLES
.about-cont {
  .copy-row {
    padding-top: 6%;
    padding-bottom: 4%;
    .top-quote{
      color:$black;
      font-size: 32px;
      line-height: 40px;
      max-width: 780px;
      font-weight: 600;
      margin: 0 auto;
      padding:1em 0 0;
      text-align: center;
    }
  }
}
.about-cont {
  .section {
    padding:4em 0 0 0;
    &.top, &.question {
      padding-top:0;
    }
    .copy-wrap .title {
      font-size:1.6em;
      margin:0;
      font-weight: 600;
      padding-bottom: 0.8em;
    }
  }
}


// About Page Small Images

.about-cont .image-wrap {
  width:100%;
  height:auto;
  padding-bottom: 1em;
  .about-image {
    width:100%;
    height:auto;
    min-height:600px;
    overflow:hidden;
    background-position:center;
    background-size:cover;
  }
}

.about-cont .image-wrap .about-image {
  &#city-1 {
    background-image:url('/images/melbourne.jpg'); 
  }
  &#city-2 {
    background-image:url('/images/auckland.jpg'); 
  }
  &#work-1 {
    background-image:url('/images/work-1.jpg'); 
  }
  &#work-2 {
    background-image:url('/images/work-2.jpg'); 
  }
}



// SECTION STYLES

.about-cont .section {
  &.services {
    padding:6em 0 2em 0;
    p {
      font-size: 1.4em;
      line-height:30px;
    }
  }
  &.about-us, &.process {
    padding-bottom:7%;
  }
  &.services-list {
    padding-bottom:7%;
    .copy-wrap {
      padding-bottom:1.5em;
    }
    .sub-title {
      font-size:1em;
      margin:0;
      padding-bottom: 0.8em;
    }
  }
  .full-width-section {
    margin-left: calc((100% - 100vw)/ 2);
    margin-right: calc((100% - 100vw)/ 2);
    width: auto;
    .full-width-content {
      width: 100vw;
      height: auto;
      background-position: center;
      background-size:cover;
      -o-background-size:cover;
      -moz-background-size:cover;
      -webkit-background-size:cover; 
      &.full-1 {
        display:none;
      }
    }
  }
}


//// VIDEO 

/* Makes a fixed background wrapper
which the user cannot interact with */
.about-cont {
  .iframe-wrapper {
    position: relative;
    top: -1px;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
  }
  .iframe-wrapper video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 70vh;
    min-width: 124.44vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* Make the iframe keep an aspect ratio, and
position it in the middle of its parent wrapper*/


@media (max-width:768px){
  .about-cont {
    .iframe-wrapper {
      display:none;
    }
    .iframe-wrapper video {
      display:none;
    }
  }
}



// ABOUT PAGE CONTACT FORM 
#question-form {
  .full-width-section {
    background:#eee;
  }
}

#question-form .contact-form {
  margin-left:auto;margin-right:auto;
  float: none;
  max-width:800px;
  padding:4em 2em 7em 2em;
  label {
    color:#000;
    font-family:$font-body; 
    font-style: normal;
    font-weight:300;
    font-size: 16px;
  }
  h1, h4 {
    text-align:center; 
    margin-top:0;
  }
  h4 {
    padding-bottom:2em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
  }
  h3{
    text-align:center;
  }
  .form-actions{
    padding-top:2em; 
  }
  .form-group .form-control{
    @include transition-sec
    border:none;
    border-bottom: 1px solid #37383c;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    border-radius:0;
    &:focus{
      @include transition-sec
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      -o-box-shadow:none;
      box-shadow:none;
    }
  }
  .form-control {
    background-color:transparent;
    &:focus {
      border-color: #2EE59D;
    }
  }
  .contact-row p {
    font-size:16px;
    padding-bottom:2em;
  }
  .contact-row h1 {
    margin:0;
    font-size:30px;
  }
  .contact-row .enter-site-btn {
    float: right;
  }
  .back-site-btn {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    margin-top:100px;
  }
  .enter-site-btn {
    float:right;
  }
}



@media (max-width:1170px){
  .about-cont .image-wrap {
    .about-image {
      min-height:500px;
    }
  }
}
@media (max-width:960px){
  .about-cont .image-wrap {
    .about-image {
      min-height:400px;
    }
  }
}
@media (max-width:768px){
  #question-form .contact-form {
    max-width:600px;
  }
  .about-cont .image-wrap {
    .about-image {
      min-height:300px;
    }
  }
  .about-top {
    background-image:url('/images/services-header.jpg');
    background-size: cover;
    background-position: center;
    height:65vh;
    max-height:800px;
    min-height:40px;
    width:100vw;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    .article-content {
      padding:20px 0 0;
      .feat-title {
        color:#000;
        font-size:30px;
        width: 70vw;
        margin: 0 auto;
        max-width: 640px;
        text-align:center;
      }
    }
  }
  .about-cont .copy-row .top-quote {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width:450px){
  .about-cont .copy-row .top-quote {
    font-size: 22px;
    line-height: 30px;
  }
}

