#particle-canvas{
  background:#000;
}



/* SVG Logo */
/*
.sc-logo-cont:hover .bg-color-block {
    opacity:1;
    transition:ease all 3s;
    -webkit-transition:ease all 3s;
    -moz-transition:ease all 3s;   
}
.logo-title {
  opacity:0;
  color:#fff;
  letter-spacing: .2em;
  text-align: center;
  margin:0;
  transition: 2s all;
    -webkit-transition: 2s all;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
    -webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
}
#svg-wrapper:hover .logo-title {
    opacity: 1;
    letter-spacing: .8em;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;  
}*/


