// Override Bootstrap variables in this file, e.g.
$font-size-base: 12px;

// MIXINS

// Center Mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin middler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// VARIABLES

$font-head:"futura-pt",sans-serif;
$font-subhead:"futura-pt",sans-serif;
$font-body:"futura-pt",sans-serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;



// IFRAME VIDEO

.video-container {
  display: flex;
  background-color:$white;
}
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.intrinsic-container {
  padding-bottom: 56.25%;
}
.video {
  padding-bottom:0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.comments-wrap{
  iframe{
    width:100%;
  }
}
